/* You can add global styles to this file, and also import other style files */
.container {
  padding: 0.5em 4em;
}

table,
td,
th {
  border: 1px solid #ddd;
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
  margin: 2em 0;
}

th,
td {
  padding: 15px;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
